html {
  box-sizing: border-box;
  line-height: normal;
  font-family: Bookmania, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5e1df;
}

header {
  display: flex;
  background-color: #A1D0C7;
  flex-direction: column;
  padding-bottom: 3.5rem;
  margin: 0;
}

h1 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 60pt;
  color: #7F7F7F;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #b0d8d0;
  border: 3px solid #b0d8d0;
  color: #7F7F7F;
  padding: .5em 1em;
  border-radius: .5em;
  text-decoration: none;
}

.button-2 {
  background-color: #D8D3CB;
  border: 3px solid #D8D3CB;
  color: #7F7F7F;
  padding: .5em 1em;
  border-radius: .5em;
  text-decoration: none;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

h2 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 30pt;
  text-align: center;
  line-height: 1.5rem;
  color: #7F7F7F;
  margin-top: 4rem;
  text-decoration: underline;
  text-decoration-color: #A1D0C7;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 2px;
}

h3 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 17pt;
  text-align: center;
  color: #7F7F7F;
  line-height: 1pt;
  margin-top: 1rem;
}

.main-content {
  max-width: 75em;
  margin: 0px auto 0px;
  padding: 2em;
}

.atalanta {
  float: left;
  width: 10%;
  margin: .5em .5em 0 0;
}

.boar {
  float: right;
  width: 27%;
  margin: .5em .5em 0 0;
}

img {
  border: 3px solid #7F7F7F;
  border-radius: 3px;
}

section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
 section img {
   width: 300px;
 }

 section aside {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-bottom: 1rem;
 }

 .hover-box:hover img {
  transform: scale(1.1);
  transition: all .2s;
 }

 .button:hover {
  background-color: #A1D0C7;
 }

 .button-2:hover {
  background-color: #e5e1df;
  border: 3px solid #D8D3CB;#D8D3CB
 }

ul {
  list-style: none; /* Remove default bullets */
}

ul.ff li::before {
  content: "\25C9";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #A1D0C7; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -2em;
}
