html {
  box-sizing: border-box;
  line-height: normal;
  font-family: Bookmania, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: #A1D0C7;
  flex-direction: column;
  padding-bottom: 3rem;
  margin: 0;
}

h1 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 60pt;
  color: #7F7F7F;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #b7e1da;
  color: #7F7F7F;
  padding: .5em 1em;
  border-radius: .5em;
  text-decoration: none;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

h2 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 30pt;
  text-align: center;
  line-height: 1.5rem;
  color: #7F7F7F;
  margin-top: 4rem;
}

h3 {
  font-family: Trajan-Pro-3, serif;
  font-weight: lighter;
  font-size: 17pt;
  text-align: center;
  color: #7F7F7F;
  line-height: 1pt;
}

.main-content {
  max-width: 75em;
  margin: 0px auto 0px;
  padding: 2em;
}

.atalanta {
  float: left;
  width: 10%;
  margin: .5em .5em 0 0;
}

img {
  border: 3px solid #7F7F7F;
  border-radius: 3px;
}

section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
 section img {
   width: 300px;
 }

 .hover-box {
  width: 100%;
 }
