html {
  box-sizing: border-box;
  line-height: normal;
  font-family: Bookmania, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5e1df;
}

header {
  display: flex;
  background-color: #a1d0c7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

h1 {
  font-family: "Trajan-Pro-3", serif;
  font-weight: lighter;
  font-size: 3.75em;
  text-align: center;
  line-height: 5rem;
  color: #7f7f7f;
  margin-bottom: auto;
}

p {
  font-size: 0.75em;
  text-align: center;
  color: #7f7f7f;
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  font-family: "Trajan-Pro-3", serif;
  font-weight: lighter;
  font-size: 1.88em;
  text-align: center;
  line-height: 3.5rem;
  color: #7f7f7f;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.icon {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
}

.icon .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.icon:hover .img-top {
  display: inline-flex;
}

div img{
  width: 87%;
}
