html {
  box-sizing: border-box;
  line-height: normal;
  font-family: Bookmania, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5e1df;
}

ul.skip-links {
  left: 50%;
  position: absolute;
  list-style-type: none;
  opacity: 0;
}

header {
  display: flex;
  background-color: #a1d0c7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

h1 {
  font-family: "Trajan-Pro-3", serif;
  font-weight: lighter;
  font-size: 3.75em;
  text-align: center;
  line-height: 5rem;
  color: #636363;
  margin-bottom: auto;
}

p {
  font-size: .9em;
  text-align: center;
  color: #383838;
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  font-family: "Trajan-Pro-3", serif;
  font-weight: lighter;
  font-size: 1.88em;
  text-align: center;
  line-height: 3.5rem;
  color: #636363;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.icon {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
}

.icon .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.icon:hover .img-top {
  display: inline-flex;
}

div img {
  width: 87%;
}

.button {
  background-color: #b0d8d0;
  border: 3px solid #b0d8d0;
  color: #383838;
  padding: .5em 1em;
  border-radius: .5em;
  text-decoration: none;
}

.button-2 {
  background-color: #b0d8d0;
  border: 3px solid #b0d8d0;
  color: #383838;
  padding: .1rem .8rem;
  border-radius: .5em;
  text-decoration: none;
  margin: 0 0 1rem;
}

.button:hover {
  background-color: #a1d0c7;
}

.button-2:hover {
  background-color: #a1d0c7;
}

footer {
  display: flex;
  background-color: #a1d0c7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-top: 1rem;
}

footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0 0 .3rem;
  padding: 0;
  color: #383838;
}

footer h3 {
  text-align: center;
  color: #383838;
  line-height: .25em;
  font-family: "Trajan-Pro-3", serif;
  font-weight: lighter;
  font-size: 1.5em;
}
